/* Add your CSS styles here */
/* Example: */
body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
  }
  
  input[type="text"], button {
    padding: 8px;
    margin: 5px;
  }
  
  button {
    cursor: pointer;
  }
  
  #bookmarks {
    margin-top: 20px;
  }
  
  #bookmarkList {
    list-style: none;
    padding: 0;
  }
  
  #bookmarkList li {
    margin-bottom: 5px;
  }
  